<body>
  <main>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">
              {% if is_edit %}
                Редактировать запись
              {% else %}
                Добавить запись
              {% endif %}
            </div>
            <div class="card-body">
              {% load user_filters %}
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}<div class="alert alert-danger">{{ error|escape }}</div>{% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error|escape }}</div>{% endfor %}
              {% endif %}
              <form method="post"
                    enctype="multipart/form-data"
                    action=" {% if is_edit %}{% url 'posts:post_edit' post.id %}{% else %}{% url 'posts:post_create' %} {% endif %}">
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group row my-3 p-3">
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}
                      {% if field.field.required %}<span class="required text-danger">*</span>{% endif %}
                    </label>
                    {{ field|addclass:'form-control' }}
                    {% if field.help_text %}
                      <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                  </div>
                {% endfor %}
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">
                    {% if is_edit %}
                      Сохранить
                    {% else %}
                      Добавить
                    {% endif %}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
